<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE" class="btn btn-warning">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}" class="btn btn-warning">
    <button class="btn">Delete</button>
</form>
