{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ newSlug }}</h1>
    <p>Un slug est en journalisme un label court donné à un article publié,
        ou en cours d'écriture.<br/>
        Il permet d'identifier l'article tout au long de sa production et dans les archives. <br/>
        Il peut contenir des informations sur l'état de l'article, afin de les catégoriser. Par exemple, dans les journaux anglais :<br/>
        « AM » peut signifier que l'article est issu d'une édition matinale ;<br/>
        « CX » indique que l'article est une correction ou une mise à jour d'un fait précédemment traité.</p>
{% endblock %}