{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <strong>Acteur : {{ name.name }}</strong>
    <ul>
        {% for program in name.programs %}
            <a class="nav-link" href="{{ path('program_show', { 'id': program.id }) }}"><li>{{ program.title }} </li></a>
        {% else %}
            <li>Aucune série pour cet acteur</li>
        {% endfor %}
    </ul>
{% endblock %}